[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	margin: 10px !important;
}

.tasksLists ul {
	list-style-type: none;
	margin: 30px 0;
}